# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
docs/build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# environment
.env
.venv

.idea
node_modules
target
*.swp
*.sqlite3
releases
.pytest_cache
*media*
*media/*
.vscode/
*/.pytest_cache
*.rdb
.DS_Store
